body {
  margin: 0;
  background: #fcfcfc;
  color: #141414;
  text-rendering: geometricPrecision
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contentContainer {
  height: auto;
  z-index: 2;
  font-size: 16px;
  color: #141414;
}

#brush {
  position: fixed;
  width: 50px;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
  border-radius: 100%;
  border: 1px solid #000;
  -o-border-image: url(../images/brush.gif) 1 repeat repeat;
}

#canvas {
  position: fixed;
  top:0;
  left: 0;
  height: auto;
  width: 100%;
}

#paintBoard {
  position: fixed;
  z-index: 2;
  bottom: 30px;
  left: 30px;
}

#paintBoard a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 10px 0 0 0;
}

@media (max-width: 767px) {
  canvas {
    display: none;
  }

  #paintBoard a {
    display: none;
  }

  #paintBoard button {
    display: none;
  }
}
