body {
  margin: 0;
  background: #fcfcfc;
  color: #141414;
  text-rendering: geometricPrecision;
  cursor: url("../images/pencil.png") 0 22, auto;
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
}

#contentContainer {
  height: auto;
  z-index: 2;
  font-size: 16px;
  color: #141414;
}

#brush {
  position: fixed;
  width: 50px;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

#canvas {
  position: fixed;
  top:0;
  left: 0;
  height: auto;
  width: 100%;
}

#paintBoard {
  position: fixed;
  z-index: 5;
  bottom: 30px;
  left: 30px;
}

#paintBoard a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 0 10px 0 0;
}

.body-link, .chaos-toggle, .chaos-text, .w-button, .email-link, .footer, .header, .project-image, .no-hover {
  position: relative;
  z-index: 3;
  pointer-events: all;
  cursor: pointer !important;
}

.chaos-toggle {
  display: inline-block;
  position: absolute;
  right: 126px;
  top: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.chaos-toggle i {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.chaos-toggle i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.chaos-toggle i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.chaos-toggle:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.chaos-toggle:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.chaos-toggle input {
  display: none;
}

.chaos-toggle input:checked + i {
  background-color: #9AF2E2;
}

.chaos-toggle input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.chaos-toggle input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}


@media (max-width: 767px) {
  canvas {
    display: none;
  }

  #paintBoard a {
    display: none;
  }

  #paintBoard button {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .name {
    text-align: center;
  }

  .illustration-block {
    text-align: center;
    margin-right: 20px;
    padding-bottom: 20px;
  }
}

.illustration-block {
  margin-left: 20px;
  padding-bottom: 20px;
}

.section {
  overflow-x: hidden;
}

.toggle-container {
  position: relative;
}

.disclaimer {
  position: absolute;
  text-align: right;
  right: 0;
  color: #6d7884;
  display: none;
  overflow: visible !important;
}

.navigation {
  overflow: visible !important;
}

* {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
